body
{
    font-family: 'Source Sans Pro', sans-serif;
}
.banner-container
{
    background-color: gray;
}
.banner-column
{
    background-color:greenyellow;
}
.navbar-container
{
    background-color: cyan;
}
.about-container
{
    background-color: green;
}